.see-all-design{
    color:orange;
}
.buy-now1{
    background-color:black;
    color:white;
    border:none;
    border-radius:10px;
    padding:5px 10px;
    cursor: pointer;
}
.buy-now{
    background-color:rgb(7, 245, 245);
    color:rgb(20, 21, 22);
    border:none;
    border-radius:10px;
    padding:5px 10px;
    cursor: pointer;
    
}

.bg-style1{
    background-image: url(images/bg-2.png);
    background-repeat:no-repeat;
}
.bg-style2{
    background-image: url(images/bg-1.png);
    background-repeat:no-repeat;
}
.card{
    border:none !important;
    border-radius:15px !important;
    box-shadow: 5px 5px 10px lightgray;
    margin:10px;
}
.card-footer{
    border:none !important; 
}


